html, body {
	background-color: #fafafa;	
	color: #202020;
	font-family: Helvetica, sans-serif;
}

.container {
	max-width: 30%;
	margin: auto;
}

@media screen and (max-width: 800px) {
	.container {
		max-width: 100%;	
	}

	nav ul {
		margin: 0% 20% 0% 0%;
	}
}

header {
	text-align: center;
	display: inline;
}

main, header {
	margin: auto;
}

header, main, footer, nav {
}

nav ul {
	list-style: none;
	text-align: center;
	margin: 0% 10% 2% 0%;
}
			
nav li {
	display: inline-block;
	margin: 0px 2%;
}

nav li:hover {
	background-color: #202020;
	color: #fafafa;
}

main table {
}
			
main tr { }

main tr:hover {
	background-color: #202020;
	color: #fafafa;
}
			
main th {
	width: 90%;	
	text-align: left;
}

main td { }

main th, td {
	border-bottom-style: solid;
	border-width: 1px;
}

footer {
	text-align: center;
}
