body {
	background-color: #fafafa;	
	color: #202020;
	font-family: Helvetica, sans-serif;
}

.container {
	max-width: 30%;
	margin: auto;
}

@media screen and (max-width: 480px) {
	.container {
		max-width: 100%;	
	}
}

header {
	height: 50px;
	text-align: center;
	border: dotted 1px #202020;
}

#posts, #blog-title {
	margin: auto;
}

#posts, footer{
	border: dotted 1px #fafafa;
}

nav {
	border: dotted 1px #202020;
}

nav ul {
	list-style: none;
	width: 50%;
	margin: auto;
}
			
nav li {
	text-align: center;
	display: inline-block;
	margin: 2px 4px;
}

nav li:hover {
	background-color: #202020;
	color: #fafafa;
}

#posts table {
}
			
#posts tr { }

#posts tr:hover {
	background-color: #202020;
	color: #fafafa;
}
			
#posts th {
	width: 90%;	
	text-align: left;
}

#posts th, td {
	border-bottom-style: solid;
	border-width: 1px;
}

footer {
	text-align: center;
}
